:root {
  --blue: #3330e4;
  --pink: #f637ec;
  --orange: #fbb454;
  --yellow: #faea48;
}

body {
  background: var(--yellow);
  justify-content: center;
  border: var(--pink) solid 10px;
  border-radius: 35px;
  font-family: "Ubuntu", sans-serif;
  padding: 1%;
}

header {
  background-color: var(--blue);
  border-radius: 30px;
  color: white;
  text-align: center;
  padding: 2%;
  margin-bottom: 3%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header h1 {
  font-size: 24px;
  align-content: center;
}
header p {
  font-size: 16px;
  align-content: center;
}
header a {
  font-size: 16px;
  align-content: center;
}

button {
  display: block;
  background: white;
  border: var(--blue) solid 5px;
  justify-self: center;
  padding: 1%;
  border-radius: 10px;
  margin: 0.5%;
  width: 100%;
}
button#start {
  display: block;
  background: white;
  border: var(--pink) solid 5px;
  justify-self: center;
  padding: 1%;
  border-radius: 10px;
  margin: 0.5%;
  width: 20%;
}

button:hover {
  background: var(--orange);
}

#submit {
  display: none;
  background: white;
  border: var(--blue) solid 5px;
  justify-content: center;
  padding: 1%;
  border-radius: 10px;
}

#quiz {
  max-width: 100%;
  border: white solid 5px;
  border-radius: 30px;
  background: white;
  padding: 3%;
  margin: 1%;
  font-size: 25px;
  /* display: flex;
  flex-direction: column; */
  display: none;
}

.back {
  background: var(--blue);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#results {
  background: white;
  margin: 2%;
  padding: 1%;
  font-size: 30px;
  display: none;
}

#high-scores {
  background: white;
  margin: 2%;
  padding: 1%;
  font-size: 30px;
  display: none;
}
/* #high-scores-list {
  
} */
